//variables
$primary-color : rgb(9, 143, 148);
$other-color : whitesmoke;
$fullButton : 100%;

// list
$display-type : flex,grid,block,inline-block;


//maps
$font-sizes: ("small":12px,"normal": 15px, "medium": 24px, "large": 30px);